    <div class="columns" id="mail-app">
      <%= render "panel" %>
      <div class="column is-4 messages has-background-light border-right" id="message-feed">
        <%= render "requests" %>
      </div>
      <div class="column is-5 is-paddingless">
        <div id="demo"> 
        <p class="has-text-centered name is-size-4">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          Ấn Vào Một Yêu Cầu Bất Kỳ Để Xem Trước Biểu Mẫu</p>
        </div>
      </div>
    </div>