<div class="border-bottom has-background-white box">

  <div class="field has-addons columns is-gapless ">
    <div class="control column is-2">
      <a class="button is-static is-fullwidth">
        Tìm Kiếm Biểu Mẫu
      </a>
    </div>
    <div class="control column is-10">
      <input class="input is-fullwidth" type="text" placeholder="Nhập Tên Để Tìm Kiếm Biểu Mẫu Bạn Cần" id="search">
    </div>
  </div>
</div>