<div class="columns ">
  <div class="column is-1">
  </div>

  <div class="column is-2">
    <div class="stay">
      <div class="pl3 pr3 box has-background-white">
        <%= render "panel" %>
      </div>
    </div>
  </div>

  <div class="column is-8 pl10">
    <%= render "search" %>    
    <div id="search-container"><%= render "document" %></div>
  </div>      
</div>