<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Xin chào <%= @notification.name %>!</p>
    <p>
      Biểu Mẫu của bạn đã được gửi tới các phòng ban liên quan.
    </p>
    <p>
      Thời gian xử lý của biểu mẫu này là X ngày
      nếu quá thời hạn trên mà không có thông báo trả về, bạn có thể liên lạc qua mail sau
    </p>
  </body>
</html>