<div class="columns">
  <div class="column is-7 is-paddingless">
    <iframe src=<%= url_for(@request.pdfs) %> width="850" height="1100" style="border: none;"></iframe>
  </div>

  <div class="column is-5 manager">
    <% if current_user.manager?%>
      <%= render "manager_form" %>
    <% elsif current_user.staff? %>
      <%= render "staff_form" %>
    <% end %>
  </div>
</div>