<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3 box ">
          <%= render 'form' %>
      </div>
    </div>
  </div>
</section>