<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Xin Chào <%= @checking.user.name %> !</p>
    <p>Yêu Cầu Của Bạn Đã Được Xử Lý Xong</p>
    <p>
    --------------------------
    </p>
    <p>Mời bạn lên phòng công tác sinh viên theo địa chỉ: Tầng 3, Tòa Nhà B, Số 41A Đường Phú Diễn để nhận biểu mẫu đã được đóng dấu xác nhận </p>
    <p>Nếu có thắc mắc gì, bạn có thể liên hệ trực tiếp qua số điện thoại qua số điện thoại 0123456789 </p>
  </body>
</html>