<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Xin Chào<%= @checking.user.name %> !</p>
    <p>Yêu Cầu Của Bạn Đang Được Xử Lý</p>
    <p>
    --------------------------
    </p>
    <p>Biểu Mẫu Của Bạn Có Thời Gian Xử Lý Là <%= @checking.document.time %> Ngày</p>
    <p>Nếu Quá Thời Gian Trên Mà Vẫn Chưa Nhận Được Thì Bạn Có Thể Liên Hệ Lại Qua Số dt 0123456789 </p>
  </body>
</html>