@import "bulma";
@import "functions";

.notification.is-primary.is-light {
  border-radius: 0;
  margin-bottom: 0;
}
.pagination {
  padding-left: 25px;
}
.pv1.f8.send {
  padding-top: 15px;
}
.send-button {
  margin-top: 10px;
}
.pv1.f8 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}
#text-area{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}
.file.has-name.is-boxed{
  margin-top: 38px;
}

.column.is-two-thirds.border-right.border-bottom{
  height: 150px;
  margin-left: 5px;
}

.hint {
  font-size: small;
}

.tag {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px !important;
}

.index-title {
  margin-bottom: 10px !important;
  a {
    color: $dark;
  }
}

.has-background-light.body{
  padding-top: 15px;
}
.column.is-5.manager{
  padding-right: 20px
}

