<footer class="footer has-background-success">
  <div class="container is-dark">
    <div class="content has-text-centered has-text-white">
      <p>
      ĐẠI HỌC TÀI NGUYÊN VÀ MÔI TRƯỜNG HÀ NỘI
      </p>
      <p>
Địa chỉ: Số 41A đường Phú Diễn, Q. Bắc Từ Liêm, TP. Hà Nội
Điện thoại: 0902 130 130 | Email: dcac@hunre.edu.vn
© 2020, Đại học Tài nguyên và Môi trường Hà Nội
</p>
    </div>
  </div>
</footer>
